<div class = "container">

  <div class = "row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="page-header"> <!-- header -->
        <h1> <%= @event.name %> </h1>
      </div>
    </div> <!-- col -->
  </div> <!-- row -->

  <%= render partial: 'form' %>

  </br>
  <%= link_to "Delete event", event_path(@event), method: :delete, class: "btn btn-danger pull-left", data: { confirm: "Are you sure?" } %>

</div> <!-- container -->
