<div class = "container">

  <% if @event.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="page-header"> <!-- header -->
        <h1> New event </h1>
      </div>
    </div> <!-- col -->
  </div> <!-- row -->

  <%= render partial: 'form' %>
      
</div> <!-- container -->
