<div class = "container">

  <div class = "row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="page-header"> <!-- header -->
        <h1> New event </h1>
      </div>
    </div> <!-- col -->
  </div> <!-- row -->

  <%= render partial: 'form' %>
      
</div> <!-- container -->
