// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.events-list a {

  &:active {
    color: #555;
  }

  &:hover {
      color: white;
  }
}

.list-group-item {
  &:hover a {
    &:visited, :active, :link  {
      color: white;
    }
  }
}


.date-form-inputs {

  #event_start, #event_end {
    border-radius: 4px;
    display: inline-block;
    width: initial;
  }

  label {
    min-width: 70px;
  }
}

.calendar-week {
  height: 300px;
}

.calendar-entry {
  background-color: #CCF5EB;

.field_with_errors {
  color: red;
  background: yellow;
  width: 200px;
  height: 30px;
}

#error_explanation {
  background: yellow;
  color: red;
  width: 200px;
}
